@import url(./base.css);

/* ===== 全局字体渲染 ===== */
* {
    font-family: var(--hhp-font) !important;
    text-shadow: 0 0 1.6px !important;
}
html,
body {
    font-size: var(--hhp-size) !important;
}
/* ===== markdown 主题 ===== */
html,
body {
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 500ms ease;
}
body {
    color: #383a42;
    background: #fafafa;
}
.markdown-body {
    max-width: var(--max-width) !important;
    padding: 0 var(--hhp-size);
    margin: 0 auto;
    font-size: var(--hhp-size);
    line-height: 2;
    word-break: break-all;
}
* {
    -webkit-tap-highlight-color: transparent;
}
p,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
blockquote {
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none !important;
}
input,
select,
textarea {
    font-family: inherit;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}
::selection {
    background-color: #4a4a4a;
    color: #f9f9f9;
}
.markdown-body > * {
    margin: var(--hhp-size) 0 !important;
}
.markdown-body h1,
.markdown-body h2 {
    font-weight: normal;
    font-size: calc(1.2 * var(--hhp-size));
    position: relative;
}
.markdown-body h1::before,
.markdown-body h2::before,
.markdown-body h1:hover::before,
.markdown-body h2:hover::before {
    content: '#' !important;
    top: 0;
    font-weight: bold;
    padding-right: calc(0.5 * var(--hhp-size));
    display: unset !important;
    position: unset !important;
    left: unset !important;
    height: unset !important;
    border-left: unset !important;
}
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    font-size: calc(1.1 * var(--hhp-size));
    font-weight: bold;
}
.markdown-body blockquote {
    padding: calc(0.5 * var(--hhp-size)) calc(0.5 * var(--hhp-size)) calc(0.5 * var(--hhp-size)) var(--hhp-size);
    background-color: #33333309;
    border-radius: calc(0.3 * var(--hhp-size));
    border: none;
    border-left: calc(0.3 * var(--hhp-size)) solid #333333;
    box-shadow: 0 calc(0.2 * var(--hhp-size)) calc(0.5 * var(--hhp-size)) rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.markdown-body a {
    color: #000000;
    margin: 0 calc(0.1 * var(--hhp-size));
    border-bottom: calc(0.1 * var(--hhp-size)) solid #000000;
}
.markdown-body strong,
.markdown-body b {
    color: #000000;
}
.markdown-body ul,
.markdown-body ol {
    margin-left: var(--hhp-size) !important;
}
.markdown-body li > ul::before,
.markdown-body li > ol::before {
    display: none !important;
}
.markdown-body ul li {
    list-style: disc;
}
.markdown-body ol li {
    list-style: decimal;
}
.markdown-body li > * {
    margin: 1rem 0 0 0;
}
.markdown-body img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    box-shadow: 0 0 calc(0.3 * var(--hhp-size)) #e0e0e0;
}
.markdown-body img[alt='line'] {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    box-shadow: none;
    margin: 0 calc(0.3 * var(--hhp-size));
    line-height: 1;
}
.markdown-body pre {
    font-size: 0;
    padding: calc(0.7 * var(--hhp-size)) !important;
    overflow: auto;
    border-radius: calc(0.3 * var(--hhp-size));
    max-height: 68vh;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    line-height: 1.4;
    background-color: #f8f8f8 !important;
}
.markdown-body code {
    font-size: var(--hhp-size);
    background-color: #eeeeee;
    word-break: break-all;
    padding: calc(0.2 * var(--hhp-size)) calc(0.3 * var(--hhp-size));
    margin: 0 calc(0.2 * var(--hhp-size));
    border-radius: calc(0.3 * var(--hhp-size));
    color: #4d4d4c;
    transition: all 500ms ease;
}
.markdown-body pre code {
    font-size: var(--hhp-size);
    background-color: transparent !important;
    word-break: keep-all;
    padding: 0;
    margin: 0;
    border-radius: unset;
    color: inherit;
    line-height: 1.4;
}
.markdown-body hr {
    border: none;
    height: calc(0.2 * var(--hhp-size));
    background-color: #eeeeee;
}
.markdown-body table {
    min-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
    margin: var(--hhp-size) 0;
    border: 1px solid #dddddd;
    text-align: left;
}
.markdown-body tr {
    border-bottom: 1px solid #dddddd;
}
.markdown-body tr:hover {
    background-color: unset;
}
.markdown-body th {
    font-weight: bold;
}
.markdown-body th,
.markdown-body td {
    text-align: left;
    padding: calc(0.3 * var(--hhp-size)) calc(0.6 * var(--hhp-size));
    border: none;
    background-color: transparent;
}
.markdown-body table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.code-line:hover::before {
    border-left: unset !important;
}

/* 深色模式 */
body.vscode-dark {
    color: #c9d1d9;
    background: #0d1117;
}
body.vscode-dark img {
    filter: brightness(0.8) contrast(1.2);
    box-shadow: none;
}
body.vscode-dark pre {
    background-color: #161b22 !important;
    color: #abb2bf;
}
body.vscode-dark code {
    background-color: rgba(240, 246, 252, 0.15);
    color: #c9d1d9;
}
body.vscode-dark a {
    color: #58a6ff;
    border-bottom: 1px solid #58a6ff;
}
body.vscode-dark strong,
body.vscode-dark b {
    color: #ffffff;
}
body.vscode-dark blockquote {
    border-left: 3px solid #3b434b;
    background-color: rgba(59, 67, 75, 0.15);
    color: #8b949e;
}
body.vscode-dark hr {
    background-color: #30363d;
}
body.vscode-dark table {
    border: 1px solid #3b434b;
}
body.vscode-dark tr {
    border-bottom: 1px solid #3b434b;
}
body.vscode-dark tr:nth-child(even) {
    background-color: #161b22;
}