/* markdown 字体渲染 */
:root {
    --hhp-font: Sarasa Fixed SC;
    --hhp-shadow: 1.2px;
    --hhp-size: 18px;
}
html,
body {
    font-size: var(--hhp-size) !important;
}
* {
    font-family: var(--hhp-font) !important;
    text-shadow: 0 0 var(--hhp-shadow) !important;
}
pre,
code,
pre *,
code * {
    font-family: var(--hhp-font) !important;
}
