@import url(./base.css);

/* ===== 全局字体渲染 ===== */
* {
    font-family: var(--hhp-font) !important;
    text-shadow: 0 0 var(--hhp-shadow) !important;
}
html,
body {
    font-size: var(--hhp-size) !important;
}